body {
    margin: auto;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navigoinnin taustaväri */
.topnav {
    background-color: #565656;
    overflow: hidden;
}

/* Linkkien tyylit*/
.topnav a {
    float: left;
    color: #E0FFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Linkkien värit */
.topnav a:hover {
    background-color: #E0FFFF;
    color: black;
}

/* Nykyinen linkki */
.topnav a.active {
    background-color: #3CB371;
    color: white;
}

/* tervehdysteksti */
.tervehdys {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

/* etsi-kentän muotoilut */
.etsi {
    width: 20%;
    float: right;
    height: 17px;
    padding: 14px 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    width: 100%;
}