<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Autohullut</title>
    <link th:rel="stylesheet" th:href="@{etusivutyyli.css}" />
</head>
<body>

<div class="topnav" th:include="Etusivu::navibar"></div>

<h1 style="text-align: center;">Auto-aiheista keskustelua!</h1>

<div class="viesti" th:fragment="viesti">

    <table style="width: 80%; margin: 0 auto; border: 3px solid black;">
        <tr th:each="viesti : ${viestit}" th:object="${viesti}">
            <td style="padding: 20px; "th:text="*{id}"/>
            <td style="padding: 20px; "th:text="*{teksti}"/>
            <td style="padding-left: 20px; padding-top: 20px; padding-bottom: 20px; font-weight: bold" th:text="*{kayttaja}"/>
        </tr>
        <thead>
        <tr>
            <th style="text-align: left; padding: 20px;">ID</th>
            <th style="text-align: left; padding: 20px;">Kommentti</th>
            <th style="text-align: left; padding-left: 20px; padding-top: 20px; padding-bottom: 20px;">Käyttäjä</th>
        </tr>
        </thead>
    </table>

    <p></p>

    <a href="/viestilomake">Vastaa tähän keskusteluun</a>

    <p></p>

</div>

</body>
</html>