<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Autohullut</title>
    <link th:rel="stylesheet" th:href="@{etusivutyyli.css}" />
</head>
<body>

<div class="topnav" th:include="Etusivu::navibar"></div>

<div>

    <h1>Kaikki keskustelut</h1>

    <table>
        <tr><th>Sijanumero</th><th>Käyttäjä</th><th>Viesti</th></tr>
        <tr th:each="viesti : ${viestit}">
            <td th:text="${viestit.indexOf(viesti)}"></td>
            <td th:text=" ${viesti.kayttaja}"></td>
            <td th:text="${viesti.teksti}"></td>
        </tr>
    </table>

    <p></p>

    <a href="/viestilomake">Vastaa tähän keskusteluun</a>
    <p></p>
    <!--<a href="/poistelulomake">JOS TÄÄ EI OO NIIN SIISTIÄ, NIIN ALETAAN POISTELEMAAN!</a>-->
    <!--<p></p>-->
    <!--<a href="/muuntelulomake">JOS TÄÄ EI OO NIIN SIISTIÄ, NIIN ALETAAN MUOKKAAMAAN!</a>-->
</div>

</body>
</html>