<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Lentävä sika</title>
    <link th:rel="stylesheet" th:href="@{etusivutyyli.css}" />
    <link th:rel="stylesheet" th:href="@{kirjautumistyyli.css}" />
</head>
<body>

<button class="ekanappi" onclick="document.getElementById('id01').style.display='block'">Kirjaudu</button>

<div id="id01" class="modal">

    <form class="modal-content animate" action="/action_page.php">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            <img th:src="@{AVATAR.png}" class="avatar">
        </div>

        <div class="container">
            <label><b>Käyttäjänimi</b></label>
            <input class="modalinput" type="text" placeholder="Syötä käyttäjänimi" name="uname" required>

            <label><b>Salasana</b></label>
            <input class="modalinput" type="password" placeholder="Syötä salasana" name="psw" required>

            <button type="submit">Kirjaudu</button>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">
                Peruuta
            </button>
            <span class="psw">Unohditko <a href="#">salasanan?</a></span>
        </div>
    </form>
</div>

<button class="ekanappi" onclick="document.getElementById('id02').style.display='block'">Rekisteröidy</button>

<div id="id02" class="modal">

    <form action="action_page.php" style="border:1px solid #ccc">
    <div class="container">
        <h1>Sign Up</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>

        <label><b>Kayttajanimi</b></label>
        <input class="modalinput" type="text" placeholder="Syötä kayttajänimi" name="uname" required>

        <label><b>Salasana</b></label>
        <input class="modalinput" type="password" placeholder="Syötä salasana name="psw" required>

        <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
        </label>

        <div class="clearfix">
            <button type="button" class="cancelbtn">Peruuta</button>
            <button type="submit" class="signupbtn">Rekisteröidy</button>
        </div>
    </div>
    </form>
</div>

<div class="topnav" th:fragment="navibar">
    <a class="active" href="etusivu">Home</a>
    <a href="kalajutut">Kalajutut</a>
    <a href="leffalopinat">Leffalöpinät</a>
    <a href="autohullut">Autohullut</a>
    <a href="golfjuorut">Golfjuorut</a>
    <form class="etsi" action="/tulossivu"> <!--tätä ei vielä olemassa-->
        <input type="text" placeholder="Hae foorumilta.." name="search">
        <button type="submit" hidden="hidden"></button>
    </form>
</div>

<img class="logo" th:src="@{lentavasika.jpg}" />

<p class="tervehdys">Tervetuloa turisemaan!</p>

<script>
    // Aktivoi modaali
    var modal = document.getElementById('id01');

    // Sulje modaali mistä vaan, kunhan klikkaa lomakkeen ulkopuolelta
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</body>
</html>
