<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Lentävä sika</title>
    <link th:rel="stylesheet" th:href="@{etusivutyyli.css}" />
    <link th:rel="stylesheet" th:href="@{kirjautumistyyli.css}" />
</head>
<body style="background-image: url('/lentavasika3.jpg'); background-size: cover;">

<!--KIRJAUDU SISÄÄN NAPPI JA TOIMINTA-->

<button class="ekanappi" onclick="document.getElementById('id01').style.display='block'">Kirjaudu</button>

<div id="id01" class="modal">

    <form class="modal-content animate" th:action="@{/kirjautunut}">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            <img th:src="@{AVATAR.png}" class="avatar">
        </div>

        <div class="container">
            <h1>Kirjaudu sisään!</h1>
            <p>Täytä tiedot ja kirjaudu sisään!</p>
            <hr>

            <label><b>Käyttäjänimi</b></label>
            <input class="modalinput" type="text" placeholder="Syötä käyttäjänimi" name="uname" required>

            <label><b>Salasana</b></label>
            <input class="modalinput" type="password" placeholder="Syötä salasana" name="psw" required>

            <button type="submit">Kirjaudu</button>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">
                Peruuta
            </button>
            <span class="psw">Unohditko <a href="#">salasanan?</a></span>
        </div>
    </form>
</div>

<!--REKISTERÖIDY NAPPI JA TOIMINTA!-->

<button class="ekanappi" onclick="document.getElementById('id02').style.display='block'">Rekisteröidy</button>

<div id="id02" class="modal">

    <form action="action_page.php" class="modal-content animate">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
            <img th:src="@{AVATAR.png}" class="avatar">
        </div>
    <div class="container">
        <h1>Luo käyttäjätili</h1>
        <p>Täytä tiedot ja luo käyttäjätilisi!</p>
        <hr>

        <label><b>Käyttäjänimi</b></label>
        <input class="modalinput" type="text" placeholder="Syötä kaättäjänimi" name="uname" required>

        <label><b>Salasana</b></label>
        <input class="modalinput" type="password" placeholder="Syötä salasana" name="psw" required>

        <button type="submit">Rekisteröidy</button>
    </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">
                Peruuta
            </button>
        </div>

    </form>
</div>

<div class="topnav" th:fragment="navibar">
    <a class="active" href="etusivu">Etusivu</a>
    <a href="kalajutut">Kalajutut</a>
    <a href="leffalopinat">Leffalöpinät</a>
    <a href="autohullut">Autohullut</a>
    <a href="golfjuorut">Golfjuorut</a>

    <form class="etsi" action="/lyhytlistaus">
        <div class="input-group">
            <input type="text" class="form-control" name="hakusana" placeholder="Hae sanontoja"/>
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </form>

</div>

<h1 style="text-align: center; color: white;">Tervetuloa turisemaan!</h1>

</body>
</html>
