<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Golfjuorut</title>
    <<link th:rel="stylesheet" th:href="@{etusivutyyli.css}" />
</head>
<body>

<div class="topnav">
    <a class="active" href="Etusivu.html">Home</a>
    <a href="Kalajutut.html">Kalajutut</a>
    <a href="Leffalopinat.html">Leffalöpinät</a>
    <a href="Autohullut.html">Autohullut</a>
    <a href="Golfjuorut.html">Golfjuorut</a>
    <form class="etsi">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"></button>
    </form>
</div>

</body>
</html>