<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hakutulokset</title>
    <link th:rel="stylesheet" th:href="@{etusivutyyli.css}" />
</head>
<body>

<div class="topnav" th:include="Etusivu::navibar"></div>

<div id="content">
    <h1 th:text="|Viestit - hakuehto: '${hakusana}'|"></h1>
    <table id="taulu" class="table table-striped table-bordered">
        <tr th:each="viesti : ${viestit}" th:object="${viesti}">
            <td th:class="'sanontateksti'" th:text="*{teksti}"></td>
            <td th:text="*{kayttaja}"></td>
            <td ><button type='button' class='btn btn-default'><a th:href="'/poista?id='+*{id}">POISTA</a></button></td>
        </tr>
    </table>

</div>
</body>
</html>