<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Kalajutut</title>
    <link th:rel="stylesheet" th:href="@{etusivutyyli.css}" />
</head>
<body>

<div class="topnav">
    <a class="active" href="etusivu">Home</a>
    <a href="kalajutut">Kalajutut</a>
    <a href="leffalopinat">Leffalöpinät</a>
    <a href="autohullut">Autohullut</a>
    <a href="golfjuorut">Golfjuorut</a>
    <form class="etsi">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit" hidden="hidden"></button>
    </form>
</div>

</body>
</html>