<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lisää viesti</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>

    <h1>Osallistu keskusteluun, vastaa edellisiin viesteihin alla!</h1>

    <form th:action="@{/autohullut}" th:object="${viestiOlio}" method="post">
        <div><label th:text="'Viestisi'" th:for="teksti"/></div>
        <div><textarea cols="60" rows="6" th:field="*{teksti}"/></div>
        <!--<p>Kirjoita tähän viestisi: <input type="text" th:field="*{teksti}" /></p>-->
        <p>Nimimerkkisi: <input type="text" th:field="*{kayttaja}" /></p>
        <p><input type="submit" value="Tallenna viestisi ja siirry keskusteluun." /> <input type="reset" value="Jos kirjoitit väärin, resetoi kenttä tästä!" /></p>
    </form>
</div>
</body>
</html>