<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lisää viesti</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:rel="stylesheet" th:href="@{etusivutyyli.css}" />
</head>
<body style="background-image: url('/kirje.png'); background-size: cover;">

<div class="topnav" th:include="Etusivu::navibar"></div>

<div style="text-align: center">

    <h1 style="text-align: center; color: white;">Osallistu keskusteluun, vastaa edellisiin viesteihin alla!</h1>

    <form style="width: 80%; margin: 0 auto; border: 2px solid black; background-color: rgba(86, 86, 86, 0.8); color: white; border-radius: 20px;" th:action="@{/ohjaus}" th:object="${viestiOlio}" id="myform" method="post">
        <div><label th:text="'Viestisi:'" th:for="teksti"/></div>
        <div><textarea cols="60" rows="6" th:field="*{teksti}"/></div>
        <p>Nimimerkkisi: <input type="text" th:field="*{kayttaja}" /></p>
        <p>Mille alueelle haluat kirjoittaa? <select name="alueet"  th:field="*{alue}">
            <option value="Autohullut" >Autohullut</option>
            <option value="Golfjuorut" >Golfjuorut</option>
            <option value="Kalajutut" >Kalajutut</option>
            <option value="Leffalopinat" >Leffalopinat</option>
        </select></p>
        <p><input type="submit" value="Tallenna viestisi ja palaa keskusteluun." /> <input type="reset" value="Jos kirjoitit väärin, resetoi kenttä tästä!" /></p>
    </form>
</div>

</body>
</html>