<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Muokkaus</title>
    <link th:rel="stylesheet" th:href="@{etusivutyyli.css}" />
</head>
<body style="background-image: url('/kirje.png'); background-size: cover;">

<div class="topnav" th:include="Etusivu::navibar"></div>

<div style="text-align: center">

    <h1 style="text-align: center; color: white;">Muokkaa valitsemaasi viestiä!"</h1>

    <form  style="width: 90%; margin: 0 auto; border: 2px solid black; background-color: rgba(86, 86, 86, 0.8); color: white; border-radius: 20px;" th:action="@{/muokattu}" th:object="${viesti}" method="post">
            <div><label th:text="'Muokattava viesti:'" th:for="teksti"/></div>
            <div><textarea cols="60" rows="6" th:field="*{teksti}" th:required="required"/></div>
            <p>Nimimerkkisi: <input type="text" th:field="*{kayttaja}" /></p>
        <p><input type="submit" value="Tallenna muutoksesi!" />
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{alue}"/>
    </form>
</div>

</body>
</html>